/*{
    outline: red 2px solid;
}
*/

body{
    margin: 0px 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}

/* Header */
.header{
    background-color: #051622;
    margin: 0px;
    display: flex;
    padding: 10px 20px;
}

.logo{
    margin: 0px;
    color: #1ba098;
}

/* Intro */
.intro{
    display: flex;
    justify-content: space-between;
    background-color: #051622;
    color: #deb992;
    padding: 50px 150px;
    padding-bottom: 300px;
}

hr{
    color: #deb992;
    margin-bottom: 20px;
}
.intro-text{
    margin: 50px 0px;
}

.intro-text p{
    margin: 0px;
    margin-bottom: 0px;
    max-width: 600px;
    font-size: 32px;

}

.intro-text h1{
    margin: 0px;
    margin-bottom: 20px;
    font-size: 88px;
    font-weight: 200;
}

.introdesc{
    font-weight: 100;
}

.intro-img{
    height: 600px;
    width:auto;
}

/* skills */

.skills{
    display: flex;
    background-color: #051622;
    padding: 50px 150px;
    color: #deb992;
    display: flex;
    align-items: center;

}

.skills h1{
    flex-shrink: 0;
    margin-right: 100px;
    font-size: 64px;
    min-width: 300px;
    font-weight: 200;
}

.skills p{
    font-size: 22px;
    text-align: justify;
    width: fit-content}
 
/* footer */

.footer{
    padding: 20px;
    background-color: #161f26;
    color: #1ba098;
    text-align: center;
}